[2015-11-19 19:28] acoustep opened #1 "Update the foundation dependency to the public release"
Currently on alpha2.

[2015-11-24 00:49] devinrhode2 opened #2 "How to edit sass variables? Where is the _settings file located?"
1. Where is the _settings and other foundation files located? For now I'm referencing https://github.com/zurb/foundation-sites/blob/v6.0.3/scss/settings/_settings.scss

2. What is the best way to customize the sass variables? For now I'm putting my variables above the foundation import statements in app.scss. This seems to work and has the added benefit of allowing me to update foundation (and it'

[2015-12-09 17:10] acoustep commented on #2
Hi devinhode2,

1.  All foundation files are downloaded with NPM.  So they are all stored in the ```node_modules/foundation-sites``` directory. Because of this, I recommend not editing them as they will be overwritten when updating (As you say in your second point).

2. Yes, as far as I'm aware that's the best method. If there are a lot of settings to change I usually create a new file e.g. ```_fo

[2015-12-09 17:13] acoustep commented on #1
Updated in 0.0.3.

[2015-12-09 17:13] #1 closed

[2015-12-23 01:34] devinrhode2 opened #5 "Attempting to watch missing directory: node_modules/ember-cli-foundation-6-sass/node_modules/foundation-sites/scss"
[code]

[2015-12-23 01:36] devinrhode2 commented on #5
Sorry for the lack of info, I really don't know why this is happening. I've cleared and re-installed node modules 2 times, and also did the more official `ember install ember-cli-foundation-6-sass` and got nothing.

[2015-12-24 12:51] acoustep commented on #5
Hi @devinrhode2, I just noticed that I had not published the latest version (0.0.4) to NPM.

Can you try doing another reinstall please?

[2016-01-08 16:27] acoustep commented on #2
Closing this for now. Feel free to reopen if you're still having issues!

[2016-01-08 16:27] #2 closed

[2016-01-08 16:28] acoustep commented on #5
Are you still having this issue?

[2016-01-08 19:04] devinrhode2 commented on #5
I uh ended up clearing all modules and fiddling around with it and eventually figured out that I probably just needed to do the ember generate command along with the other 2 install command:
[code]
I have 0.0.4 installed right now.

[2016-01-08 19:05] #5 closed

[2016-01-08 19:08] acoustep commented on #5
Great!

[2016-02-23 20:07] danilovaz opened #11 "How to edit SASS?"
First, thank u for this project.

I need to change background-color off class .top-bar from $light-gray to $white, but if I change in node_modules/ember-cli-foundation-6-sass I will lost all changes in CSS. What the right in this case?

Ty.

[2016-02-24 04:23] donaldwasserman commented on #11
Hey there - I'm new to this project, but depending on your project sass structure, you can include a _settings.scss file (see http://foundation.zurb.com/sites/docs/sass.html#the-settings-file) to make those changes. Let me know if you need more help!

[2016-02-24 13:59] danilovaz commented on #11
Hi Donald!

Thank you for yor help.

So yes, I have this file in my project.

But the case is I want change variable is used in the class, but I only find file CSS foundation in node_modules, e.g:

FROM THIS:

.top-bar {
 background-color: $light-gray;
}

TO THIS

.top-bar {
 background-color: $white;
}

I don't know if I be clear with my question.

[2016-02-24 19:12] acoustep commented on #11
Hi @danilovaz

After installing and running the generator you should have two SASS files inside of app/styles

There should be a _settings.scss file, and at the bottom there is a section for the topbar variables.

Does that help?

[2016-03-07 17:57] cfator opened #13 ""Uncaught Error: Assertion Failed: A helper named 'zf-tabs' could not be found""
// using foundation-sites v6.1

ember-cli-build.js:
module.exports = function (defaults) {
    var app = new EmberApp(defaults, {
        'ember-index': indexConfig,
        emberCliFontAwesome: {
            useScss: true
        },
        'ember-cli-foundation-6-sass': {
            'foundationJs': 'all'
        }
    }
);

Markup:
{{#zf-tabs}}
    {{#each otherAppSearches as |search|}}

[2016-03-18 07:55] thedig opened #15 "Liquid fire adapter?"
Hi there,

Curious how high of priority the liquid fire adapter is?

Best,
.dig

[2016-04-03 15:59] dchersey opened #16 "responsive title-bar component?"
Hi, I have the following code in my application.emblem (this is my first ember app so please bear with me)

[code]

The zf-dropdown-menu has been nicely exposed as an ember component, but I don't see the title bar in the ember-cli-foundation-6-sass.   The [foundation docs](http://foundation.zurb.com/sites/docs/responsive-navigation.html) imply that title-bar also requires javascript.

Do you know

[2016-04-03 17:44] acoustep commented on #16
Hi @dchersey

I took a look at the documentation and there doesn't seem to be anything to suggest you need Javascript for the responsive title bar.

There are requirements for JS when using dropdown menus etc within the title bar though, in which case you can use the components when needed.

If I'm being dense and missing the Javascript part in the documentation feel free to let me know.

[2016-04-03 18:07] acoustep commented on #13
Sorry for the delay, are you still getting this issue?

Tabs seems to work to fine with the latest version of this package. Can you tell me what version of Ember you are using?

[2016-04-03 18:08] acoustep commented on #11
Closing this for now.  Feel free to reopen if you're still having an issue.

[2016-04-03 18:08] #11 closed

[2016-04-03 18:13] acoustep commented on #15
I believe this is on @techiemac's todo list as he has been doing the majority of the Javascript for this package.

It's really up to when he gets time or if someone is willing to do a PR for it.

[2016-04-03 18:22] techiemac commented on #15
Yes, this is on my todo list but I have been swamped with work for the past several weeks.

I hope to take a look at this in the coming weeks.

[2016-04-03 22:22] dchersey commented on #16
Yeah, it's a little ambiguous. I'm basing this on the fact that
a) The responsive features don't work on the title but DO work on the dropdown
b) The following section of the doc describing how to delay the visibility until the .js loads seems to apply to all 3 responsive elements on the page:

**Preventing FOUC**
Before the JavaScript on your page loads, you'll be able to see both the mobile and

[2016-04-10 14:46] mikzar opened #18 "Orbit custom initial slide"
Hi,

I used the Orbit component and I wanted to define a custom initial slide.
I added the `is-active` class to the `orbit-slide` that I wanted to be the first slide to be displayed.
But the first `orbit-slide` in the HTML is still displayed as the first slide of the Orbit carousel.

Isn't this behavior supported by Foundation-Orbit ?

Thanks

[2016-04-17 04:40] badraufran opened #19 ""ember install ember-cli-foundation-6-sass" hangs PowerShell"
I'm using Windows PowerShell with administrative rights on Windows 8.1.

The command-line hangs at "Installing packages for tooling via npm"  after entering "ember install ember-cli-foundation-6-sass".

This is the output after entering the command:
`ember install ember-cli-foundation-6-sass`
[code]

All of the node modules and bower components are installed.

After I `ctrl+c` to terminate the com

[2016-04-18 19:04] nadavshatz opened #20 "Is there a plan to upgrade to foundation 6.2.1?"
Wondering if there is a plan to upgrade this to foundation 6.2.1 and if a PR would help?

[2016-04-19 08:39] acoustep commented on #19
Unfortunately I don't have a Windows 8.1 machine to test this on. I'll try it on my Windows 10 machine tonight though.

What version of Node are you running?

[2016-04-19 08:42] acoustep commented on #20
PRs are more than welcome, I'll try and get on to this sorted tonight otherwise :)

[2016-04-19 10:03] badraufran commented on #19
node: 4.4.1
ember-cli: 2.4.3

[2016-04-19 16:30] nadavshatz commented on #20
@acoustep great thanks. Let me know if it ends up falling between the cracks and I'll give it a go.

[2016-04-19 18:43] acoustep commented on #19
Hi @badraufran

I have managed to replicate your issue on Windows 10.  I believe this could be related to either ember-cli-sass or broccoli-clean-css.

I tried installing Node 5.10.1 with the latest ember-cli and it worked fine.

I realise this isn't ideal, however my best advice is to use something like [nvm-windows](https://github.com/coreybutler/nvm-windows) and either use the latest version of

[2016-04-19 19:09] acoustep commented on #20
I've updated the Foundation version in Bower. All of the components work except for offset canvas, which I haven't had a chance to look in to properly yet.

[2016-04-19 22:25] badraufran commented on #19
Bummer, good to hear it works with newer version of Node. Should we close this issue?

[2016-04-20 08:04] acoustep commented on #19
Sure :smile:

[2016-04-20 08:04] #19 closed

[2016-04-20 09:57] kaermorchen commented on #20
@acoustep I also want to say thank you. I use foundation and your addon really helped me.

[2016-04-20 10:17] acoustep commented on #20
@kaermorchen no problem, I'm glad it's helped!

[2016-04-20 14:58] frankspin89 opened #21 "Dropdown - Add support for positioning and data-hover"
Would be great if you can use the positioning options and make dropdown available on hover. Currently the following code is not supported:

[code]

[2016-04-22 11:17] kaermorchen commented on #20
@acoustep a property "revealClass" not work in zf-off-canvas component.I try to do `{{#zf-off-canvas revealClass="reveal-for-large" as |section| }}` but class 'reveal-for-large' not added to element '.off-canvas.position-left'

[2016-04-22 21:06] v3ss0n opened #22 "Error: no mixin named add-foundation-colors"
When I tried to install via ember-cli , it gives that error.

[2016-05-13 11:29] mako87 commented on #20
@kaermorchen `{{#zf-off-canvas revealClass='large' as |section| }}`

[2016-05-30 08:42] ziggurat commented on #16
@dchersey could you solve the problem? I am in the same scenario and trying to make the responsive menu to work with no luck so far.

Thanks!

[2016-05-30 18:29] dchersey commented on #16
I did get it to work -- but honestly I cannot tell you how at this point; I've been away from the project for about 2 months working on something else.  I can tell you that the above code is still in my app, and the solution was elsewhere (environmental).

I have this code in ember-cli-build.js:
[code]
Perhaps that did it?

Sorry for the swiss cheese :( -- chasing too many rabbits at the moment.

[2016-06-07 20:43] GCheung55 opened #25 "$().foundation() loads too early."
On ember-cli 2.5.1. $().foundation() is triggered by the initializer but it's not doing anything.

I have a component template that has the example responsive header from Foundation 6 Site docs:

[code]

The only way I've made it work was to go into web console and type `$(document).foundation();`

I've tried creating my own initializers/zf-widget.js with `$(document).foundation();` and, while tha

[2016-06-07 21:55] GCheung55 commented on #16
@dchersey I'm interested in how you got it working. I have the options set, but things aren't working. I've filed a separate ticket: #25

[2016-06-18 07:27] GCheung55 opened #26 "zf-reveal should destroy the overlay when component is destroyed."
When a zf-reveal component is inserted into the page, an overlay is created and injected into the <body> element. But when the zf-reveal component is unloaded the overlay isn't destroyed.

[2016-06-20 00:54] GCheung55 commented on #26
Looking around some more, looks like zf-widget.js has a `shutdown` method attached to `willDestroyElement` but it doesn't seem to be executed.

I was testing this on a fork for `ember-cli-foundation-6-sass`, so running Ember 1.13.

[2016-06-20 02:28] GCheung55 commented on #26
Found the problem. There's a typo for the event. Now some tests are failing. I'll see if I can get those fixed.

[2016-06-21 08:17] #26 closed

[2016-06-21 18:19] GCheung55 opened #28 "Cannot find module '../../bower.json'"
The issue came up when installing the addon.

There's an error at https://github.com/acoustep/ember-cli-foundation-6-sass/blob/master/blueprints/ember-cli-foundation-6-sass/index.js#L3.

[code]

I think the reason is that `require` is looking up relative to the CWD instead of file's directory.

[2016-06-21 21:50] #28 closed

[2016-06-23 15:21] williamweckl opened #30 "Installation"
How do I install this addon?

Tried `ember install ember-cli-foundation-6-sass`.

output:

[code]

Tried `npm install ember-cli-foundation-6-sass --save-dev`. It installed but if I try to use `ember g ember-cli-foundation-6-sass` the output is the same as the above one.

What am I missing? Should not this be documented?

[2016-06-24 01:40] williamweckl commented on #30
Had to create bower.json file at node_modules/ember-cli-foundation-6-saas folder.

Created like this:
[code]

Can you verify why the npm version is comming without it?

[2016-06-24 22:01] acoustep commented on #30
This is not intended, but I've just tested a fresh install and I'm getting the same issue.

Seems the issue is coming from between version 0.9 and 0.10, potentially to do with this commit https://github.com/acoustep/ember-cli-foundation-6-sass/commit/7d2dde612a78736e78982545462f3c565e3035d6 - although I'm not 100% sure. Still investigating.

A working (but outdated) version can be installed with

[2016-06-27 19:31] williamweckl commented on #30
@acoustep Thank you for the reply. Is there any launching date for the next version yet?

[2016-06-29 06:58] acoustep commented on #30
This has now been fixed https://github.com/acoustep/ember-cli-foundation-6-sass/pull/31

[2016-06-29 06:58] #30 closed

[2016-06-29 20:18] williamweckl commented on #30
@acoustep Thank you!

[2016-07-10 15:50] williamweckl commented on #25
+1

[2016-07-10 16:09] williamweckl commented on #25
Solved it putting this code in my controller:

[code]

[2016-08-15 11:21] SlyDen commented on #25
Or, e.g. I created wrapper component for content area like this:
[code]
and `app/templates/components/application-area.hbs` contains just `{{yield}}`

[2016-09-21 04:55] graham-sportsmgmt opened #32 "Error: Assertion Failed: A helper named "zf-menu" could not be found"
I installed the package tonight using this syntax (no errors):

`ember install ember-cli-foundation-6-sass`

I get this error in the console:

`Error: Assertion Failed: A helper named "zf-menu" could not be found`

Here is my code in application.hbs:

[code]

[2016-09-23 15:05] graham-sportsmgmt commented on #32
I was browsing through the source code and saw that menu is not included.  When I first read this sentence I was expecting all of the components to be part of this library, but I see my error now (menu doesn't require JavaScript therefore is out of scope)

[2016-09-23 15:05] #32 closed

[2016-11-28 23:01] localpcguy opened #33 "Including individual Foundation JS components does not transpile from ES6 to ES5"
The individual Foundation JS component files are written in ES6 and need to be transpiled for browsers that don't support ES6 features. As far as I can tell, it does not appear that Ember's build process transpiles ES6 when included in the vendors.js file via `app.import(...)`.

ember-cli-babel is installed and transpiles files from `app/` just fine. If there is an option to tell the CLI to transp

[2016-11-29 05:54] localpcguy commented on #33
I think I may have a fix for this, but not sure I like how. Because Ember's `app.import(...)` requires files, the fix writes out transpiled files to the Foundation-Sites bower_component folder with an `.es5.js` extension, and includes those files rather than the original. I'll make a pull request, and you can decide if that's a good idea or not.

[2016-11-29 11:45] #33 closed

[2016-12-02 18:05] henrymazza commented on #22
+1

[2016-12-06 19:30] jamiechong opened #35 "Cannot find module 'babel-core'"
I tried to install and got this error right away:

[code]

Using:
[code]

[2016-12-06 22:25] jamiechong commented on #35
@localpcguy @acoustep I'm guessing this issue was introduced with #34. My ember install is pretty basic - have you guys tested with a clean install?

[2016-12-07 00:45] localpcguy commented on #35
Quick fix is likely to `npm install babel-core` but it's likely the project I was testing #34 in already had it installed. I actually need to test this again tomorrow anyways in order to get it merged in for the end of our sprint, so I'll take a look - probably needs some package.json updates to ensure all the right packages are included (in addition to babel it also likely needs the babel add-ons

[2016-12-09 14:28] twbrandt opened #36 "Slider control in Foundation 6.2.1 does not handle touch events"
The slider control in Foundation 6.2.1 does not handle touch events. This has been fixed in 6.2.2 - see https://github.com/zurb/foundation-sites/pull/8449. Can this addon be updated to use Foundation 6.2.2?

FYI, I have updated to 6.2.2 locally and used this addon with no issues.

[2016-12-12 22:07] localpcguy commented on #35
Looks like this is an issue with Node v4, I was on Node v6 and a fresh install worked. But I was able to get the error on Node v4. I did notice I accidentally put the dependencies in the `devDependencies` section, not the `dependencies` section, so that is also likely an issue. Just wanted to update, I don't quite have the PR ready, but have been looking at this.

[2016-12-13 20:22] #35 closed

[2016-12-13 20:22] #36 closed

[2016-12-15 20:18] GCheung55 opened #38 "foundation-sites@6.3 breaks build"
`foundation-sites` bumped versions to 6.3 and moved files around in their `dist` folder. This is causing `ember-cli-foundation-6-sass` to fail build.

[2016-12-16 15:51] benbabics commented on #38
+1

[2016-12-16 20:45] benbabics opened #40 "SASS Issues Loading normalize-scss/sass/normalize"
I have a feeling this has to do with `foundation-sites` codebase, but here goes...

I have a fresh install of foundation-sites v6.3.0, and it is bombing out during my build complaining about being unable to load `../_vendor/normalize-scss/sass/normalize`.

Please see output below:

[code]

Any help is much appreciated. Thanks!

[2016-12-17 11:48] #38 closed

[2016-12-19 16:11] wlbrough commented on #40
Check out this thread from ember-cli-sass: https://github.com/aexmachina/ember-cli-sass/issues/124

It looks like by moving the `_vendor` directory to be a sibling to the `scss` directory, it breaks the build all the way down to broccoli. I'm trying to figure out some kind of hack to get around this, because it looks to go a few layers deep.

[2016-12-19 17:08] wlbrough commented on #40
Not a long-term solution, but I copied the `_vendor` folder into the `scss` folder and then changed the references in `foundation.scss` to reference that folder (i.e. get rid of the `../` in front of `../_vendor`). There are seven references in total, right at the top of the file.

Obviously that's not sustainable, but it will keep me working for the time being. I thought I was going to be able to

[2016-12-19 17:41] wlbrough commented on #40
I ended up writing a shell script to copy the directory and rewrite the references. Hackier solution than I would like, but it will have to do for the time being. At least it will pass my CI.

Added `.bower-postinstall.sh` to the root directory:
[code]

Then added to the `.bowerrc` file:
[code]

Make the script executable:
`chmod +x .bower-postinstall.sh`

[2016-12-19 19:10] benbabics commented on #40
Yep... not ideal, but it works for now to get the codebase up and running for my team. Only change I had to make was to have an empty string in the sed command of `.bower-postinstall.sh` for OSX. Other than that, it works for well for us now. Thx

[2016-12-19 19:10] #40 closed

[2016-12-19 21:10] bravo-kernel commented on #40
Just wondering, will this script be a/the permanent solution?

[2016-12-24 12:59] bravo-kernel opened #42 "Are the Foundation 6 plugins unsupported?"
This is probably due to my lack of expertise but I'm unable to set up a simple sticky. If somebody could provide me with an example I will create a PR for the docs.  Thanks in advance.

[2016-12-24 14:49] ccbergstrom commented on #40
Have to modify the sed command to avoid an `undefined label` error on Mac OS X. Here's the refined `.bower-postinstall.sh` with an added empty argument to pass.
[code]

[2016-12-24 15:06] ccbergstrom opened #43 "On initial install, add 'broccoli-sass-source-maps' as dependency"
I've created a new ember 2.10 app, installed [ember-cli-sass](https://github.com/aexmachina/ember-cli-sass), ran `ember server` to confirm that 2.10 works with sass, then installed ember-cli-6-foundation-sass, and tried to run `ember g ember-cli-6-foundation-sass` but I get the following error:
[code]

I can run `npm install --save-dev brocolli-sass-source-maps` separately & re-run `ember g ember-

[2016-12-26 10:48] aexmachina opened #44 "foundation-sites 6.3 breaks build"
foundation-sites 6.3 now imports SCSS from the `_vendor/` directory using `@import "../_vendor/normalize-scss/sass/normalize";`. This isn't supported by the current broccoli config, because `../_vendor` isn't in the tree.

One solution would be to change `index.js`:

[code]

But then everyone would have to update their SCSS to `@import 'scss/foundation'`. Not sure what the best solution is here -

[2016-12-26 10:50] aexmachina commented on #44
My workaround for now is to change `bower.json` to use `"foundation-sites": "~6.2.3"` to avoid v6.3.

[2016-12-26 12:58] bravo-kernel commented on #44
Looks like a dupe of https://github.com/acoustep/ember-cli-foundation-6-sass/issues/40

[2017-01-03 20:34] bravo-kernel commented on #42
Hmmm, it seems the Ember component for Sticky is missing (even though it is mentioned in the Readme). Am I missing something obvious here?

[2017-01-03 21:17] bmx269 commented on #42
I was interested in the same thing. Even using the sticky data- attributes does not allow it to work. Is the sticky js lib being loaded with the addon?

[2017-01-04 00:19] GCheung55 commented on #44
Perhaps update `index.js` to determine the correct path depending on what version of `foundation-sites` is installed?

[2017-01-04 17:59] GCheung55 commented on #40
So what I've tried is to create a broccoli funnel that just contains the `_vendor` and `scss`, and add the funnel to `includePaths` array.

Doing so gives me a slightly different error:

[code]

This just means that `foundation` itself is not available and requires changing `app.scss`.

[code]

I don't like having to access foundation via `scss/foundation` though, so I think accessing `foundation-

[2017-01-04 22:35] bravo-kernel commented on #42
It seems the same applies for all entries under the Foundation 6 `Plugins` category:

- Abide
- Equalizer
- Interchange
- Toggler
- Sticky

If somebody could confirm they are NOT supported by this repo I will update the readme.

[2017-01-05 18:54] bravo-kernel commented on #42
@bmx269 if you are still interested,  was able to whip up this very simplistic sticky component which produces a sticky header (with accompanying height/width alterations done by the foundation javascript when e.g. resizing the browser).

[code]

[code]

[2017-01-05 20:35] bravo-kernel commented on #42
Totally works cross desktop and mobile using this codepen http://codepen.io/brettsmason/pen/adbYXV (when `id="header` is added to the `data-sticky` div.

Hope this helps someone. Creating the component for this repo is one bridge too far for me atm.

[2017-01-05 20:35] #42 closed

[2017-01-06 15:56] bravo-kernel commented on #42
Updated above component code with a fix that will guarantee stick on every mobile/browser.

The `this.$(window).trigger('load.zf.sticky');` part does the trick.

[2017-01-06 22:22] bmx269 commented on #42
That is awesome. Thanks.

[2017-01-07 12:17] #44 closed

[2017-01-09 02:04] GCheung55 commented on #43
@ccbergstrom Interesting issue. `ember-cli-sass` installs `broccoli-sass-source-maps` as a dependency. and `ember-cli-foundation-6-sass` doesn't because it doesn't directly use it.

I wonder if the issue is with the version of `ember-cli-sass` that the blueprint installs, which is `^5.1.0`. The new version of `ember-cli-sass` is `6.0.0`.

Needless to say, `ember-cli-foundation-6-sass` needs to upd

[2017-01-09 18:22] GCheung55 commented on #43
@ccbergstrom I've created a branch where the addon should install `ember-cli-sass`@6.0.0. Can you try to see if that helps you?

https://github.com/gcheung55/ember-cli-foundation-6-sass/tree/update-ember-cli-sass

[2017-01-11 18:34] saski opened #48 "Failed to import util/util on ember 2.10"
I've set a new ember 2.10.0 project and after installing ember-cli-foundation-6-sass 0.18 I got
a SassCompiler compiling error when it tries to  `@import "util/util";`
Full error trace is on `ember serve` is:
[code]

[2017-01-12 22:03] ctcpip commented on #48
+1

[2017-01-12 22:17] ctcpip commented on #48
looks related to #46 changes.  @GCheung55 can you advise, please?

[2017-01-12 22:27] ctcpip commented on #48
@saski I was able to get it to run without error using this workaround:

- in app.scss change `@import 'foundation';` to `@import 'foundation-sites/foundation';`
- in _settings.scss change `@import 'util/util';` to `@import 'foundation-sites/util/util';`

[2017-01-14 00:55] MattMcKeithen opened #49 "ember install ember-cli-foundation-6-sass hangs if app.scss already exists."
in case anyone else encounters this - hangs here:
⸨                 ░⸩ ⠹ runTopLevelLifecycles: sill install printInstalled

rename/remove app.scss and restart

[2017-01-14 00:55] MattMcKeithen commented on #49
rename/remove app.scss and restart

[2017-01-14 00:55] #49 closed

[2017-01-15 06:30] shicholas commented on #48
probably related to https://github.com/aexmachina/ember-cli-sass/issues/151

[2017-01-15 21:08] GCheung55 commented on #48
This is due to the change to support foundation-sites@6.3.0. Foundation-sites restructured their directories.

Prior to this change, all the sass/scss files from foundation-sites were included and could be imported globally.

In order to support this change, the Addon was updated load files in a way that required importing with 'foundation-sites/`.

Thus `@import "foundation-sites/util/util";`

[2017-01-15 22:25] aexmachina commented on #48
Yes, Foundation's definitely thrown everyone a curve ball here. They rearranged their folder structure without bumping the major version.

[2017-01-15 22:32] zhujy8833 commented on #48
I was having the same issue when using `foundation-site 6.3.0` with `ember-cli 2.10`. I could workaround this `util/util` issue by putting this inside `ember-cli-build.js`.
[code]
Also, yeah, I need `@import 'foundation-sites/foundation'` instead of `@import 'foundation'`.
Should we update README file to include this change?

[2017-01-16 02:41] GCheung55 commented on #48
Adding path in sassOptions is kind of a bummer.

I think the README should be updated with something more substantial than the little comment I left in an example. Something more explicit for sure. @zhujy8833 care to put a PR together?

[2017-01-16 05:04] zhujy8833 commented on #48
@GCheung55 I have opened a PR to update README to have the right `@import`: https://github.com/acoustep/ember-cli-foundation-6-sass/pull/50
Please take a look :-)

[2017-01-17 09:13] gandalfar opened #51 "Support fastboot"
Current 6.3.0 Foundation uses (jQuery) in core: `foundation-sites/js/foundation.core.js` and that makes fastboot unhappy:

[code]

[2017-01-17 10:26] #51 closed

[2017-01-23 22:25] tomtom5152 opened #53 "Reveal not working across multiple loads"
I'm trying to use a reveal in an ember loaded route, it works the first time you load the route, but it will fail to add the `data-reveal` attribute on subsequent load.

Versions
Ember: 2.10
ember-cli-foundation-6-sass: 0.0.18
foundation-6: 6.3.0

[2017-01-25 15:16] GCheung55 commented on #53
Do you have an example code to help reproduce the issue?

[2017-01-25 15:17] GCheung55 commented on #48
@acoustep I think this can be closed now.

[2017-01-25 15:21] GCheung55 commented on #22
@v3ss0n is this still an issue?

[2017-01-25 15:51] v3ss0n commented on #22
sorry , i no longer use foundation, in favor of ember-paper.

[2017-01-31 00:35] tomtom5152 commented on #53
This [gist](https://gist.github.com/tomtom5152/13f909eae563089dfc3ff7bab400d76f) is a trimmed version of the code I'm using, it isn't limited to any one of the reveals in particular, and occurs even when there is only one on the page.

Further investigation into the state of the dom shows this might be related to #26 as there are multiple elements with the same ID (it's being recreated with each l

[2017-01-31 00:57] tomtom5152 commented on #53
Indeed this can be fixed by manually ensuring that the reveal element is removed in `zf-widget`. I don't know the foundation library well enough to know if this is a safe action, else I would submit a PR with the fix.

zf-widget.js:76
[code]

[2017-01-31 17:32] tomtom5152 commented on #53
Having checked further, whilst this does fix the problem when actually using it, it completely breaks the test container for automated testing which is less than ideal.

[2017-02-06 19:44] GCheung55 commented on #53
@tomtom5152 Perhaps the element.remove() needs to be done within a run loop?

[code]

The whole destroy/remove should be done within the run loop?

Do you have a test repo or reproducible steps? I'd like to look into the test container breaking issue.

[2017-02-07 14:10] tomtom5152 commented on #53
That does indeed appear to have fixed the issue

[2017-02-09 12:34] pohodnya opened #54 "Dropdown-menu doesn't work"
The template is rendered without error. But immediately displays all menu items.
![Exampe](http://joxi.ru/p271YvLtzO6Or7.png)
ember-cli: 2.10.1
node: 4.7.2
in package.json
"ember-cli-foundation-6-sass": "0.0.16"
in bower.json:
"foundation-sites": "~6.2.4"

Template:
[code]

[2017-02-10 02:18] #54 closed

[2017-02-10 02:22] pohodnya commented on #54
Sorry. It's working.
[code]

[2017-02-12 17:03] #53 closed

[2017-03-20 17:23] donaldwasserman opened #57 "Flash message component"
Hey there -

I've been enjoying this project a lot.

Would you be interested in adding a flash-message-compatable component for this library?

(If so, I'd be happy to submit a PR).

The https://github.com/poteto/ember-cli-flash project uses foundation5, so just providing a component that basically adds the right markup.

[2017-03-20 20:14] HaithamMaya opened #58 "Deprecation warning due to dependencies listed as 'devDependencies' as of Ember 2.12.0"
As of Ember 2.12.0, receive the following deprecation error:

DEPRECATION: Addon files were detected in `/Users/USER/Documents/Development/ember-vibe/node_modules/ember-cli-foundation-6-sass/addon`, but no JavaScript preprocessors were found for `ember-cli-foundation-6-sass`. Please make sure to add a preprocessor (most likely `ember-cli-babel`) to in `dependencies` (NOT `devDependencies`) in `emb

[2017-03-20 22:01] mirague commented on #58
I can confirm and reproduce by upgrading from Ember 2.11.0 to **2.12.0**.

[2017-03-29 13:01] #58 closed

[2017-03-29 17:41] #48 closed

[2017-03-30 05:55] donaldwasserman commented on #25
@GCheung55  @williamweckl Is this just a 2.5.x issue?  have you updated to anything more recent?

[2017-03-30 14:51] GCheung55 commented on #25
I ended up creating a wrapper component like @slyden's example. I don't think it was an issue with ember-cli v2.5.

I think this can be closed.

[2017-03-30 16:12] acoustep commented on #57
That sounds useful @donaldwasserman, A PR would be most welcome :)

[2017-04-01 19:12] #25 closed

[2017-04-01 19:12] #22 closed

[2017-04-12 19:52] zion opened #63 "Accordion component breaks when list of items changes"
Im having an issue with a list of items returned from the server after a passed in search string. As the search keyword changes the, accordion items change to properly reflect the matching results, however after the accordion `<li>`s change they no longer open/close.

Is there a way to re-initiate foundation on the accordion object after the contents change?

[2017-04-13 10:55] #57 closed

[2017-04-16 19:28] donaldwasserman commented on #63
Can you provide a little code to see how you're doing this?

[2017-04-17 14:15] zion commented on #63
Figured out how to address it by adding this to the component for the `<li>` elements in the accordion. Although JShint says Foundation is not defined. oh well...

// component.js
[code]

[2017-04-24 02:53] donaldwasserman opened #67 "Babel 6 Transition"
Identify and fix issues surrounding ember-cli-babel 6.x release

[2017-04-25 01:52] jumokee commented on #25
@williamweckl

Where is the controller located?

[2017-05-07 14:30] danielrestrepo opened #68 "Installing with ember-cli@2.13.1"
Hi, I am not being able to install it with ember-cli 2.13.1 I just ran `ember install ember-cli-foundation-6-sass` and the error

[code]
I tried to follow the upgrade path suggested on the error but it ends up in nothing, just circular errors.

![Terminal capture]
(https://lh3.googleusercontent.com/-nsem34Tg5ek/WQ8t-lI5PEI/AAAAAAAAcl8/bxGCRwSlSCETG7PeJImNEi5fum2xiD4GQCL0B/h570/daniel%2540dnipro%25

[2017-05-08 11:32] donaldwasserman commented on #67
Resolved in #69

[2017-05-08 11:32] #67 closed

[2017-05-08 11:34] donaldwasserman commented on #68
This is a problem with many addons in cli 2.13 (there's a pretty lengthy chat about it in the ember-cli channel in the ember community slack).

I have a (#69) PR that should address it.

[2017-05-09 02:51] danielrestrepo commented on #68
Thanks a lot, for now I am using it like this:
[code]
Hope your PR gets merged soon.
Cheers

[2017-05-09 02:51] #68 closed

[2017-05-09 13:59] acoustep commented on #68
Merged it, I'll publish an update when I get home in a couple of hours :)

[2017-05-10 12:26] danielrestrepo commented on #68
Great! Cheers! :)

[2017-05-17 22:04] GCheung55 opened #70 "Move away from bower."
Ember is moving to a non-bower world.

* Update blueprint to install `foundation-sites` from npm.
* Update `index.js` to reference the `foundation-sites` in node_modules.
* Add backwards compat.

I think installing `foundation-sites` bower also adds `what-input ` and `jquery` automatically, and it looks like those deps are listed in `foundation-sites` package.json as well. I'm not sure whether the

[2017-05-18 09:12] acoustep commented on #70
Agreed, I think this would be a good move.

[2017-05-22 06:54] ctcpip opened #71 "Magellan component is broken"
The Magellan component is broken. - Specifically, the functionality that highlights the active section's `<a>` element by assigning the `active` class.  I have attached a simple app demonstrating this.  If you load the view that contains the component (`far` in the demo app), it sometimes works.  Keep refreshing, and you should be able to break it after one or two refreshes.  Even worse, when navi

[2017-05-26 23:04] jamiechong opened #72 "sendAction for Events"
I'm looking for  a way to trigger an action in my controller when the Reveal widget is closed. Foundation has these events: http://foundation.zurb.com/sites/docs/reveal.html#js-events

It would be great if I could setup my component like this:
`{{#zf-reveal onClose=(action 'modalClosed')}}`

[2017-05-27 17:32] jamiechong commented on #72
Note that I was able to achieve this by modifying `zf-reveal.js`.

[code]

It might be worth doing this for all Foundation actions to make the component more complete.

[2017-05-27 18:06] jamiechong opened #73 "How to access myRevealComponent"
Your docs mention this:

Where does the reference to `myRevealComponent` come from?

[2017-05-27 19:09] GCheung55 commented on #73
It's no documented but `zfUi` is a property that you can pass into the reveal component to access later.

[code]

`zfRevealInstanceOnControllerOrComponent` is just a property so when `zf-reveal` component sets `zfUi` it will be accessible by the controller or component that passed in the property.

[2017-05-28 03:40] #73 closed

[2017-06-11 18:27] gandalfar opened #74 "Addon doesn't work with Fastboot 1.0.0rc6"
[code]

I'm trying to follow https://gist.github.com/kratiahuja/d22de0fb1660cf0ef58f07a6bcbf1a1c to prepare a patch

[2017-06-14 21:35] obernal commented on #63
@donaldwasserman I had the same problem while working with `zf-accordion` and adding elements to it after the first render. The problem has to do with `didInsertElement` being called only on the initial render as per the docs https://guides.emberjs.com/v2.13.0/components/the-component-lifecycle/. I was able to resolve this by changing `didInsertElement` on the `zf-widget` mixin to `willRender`. Af

[2017-06-15 02:13] GCheung55 commented on #63
I haven't looked into this too deeply but at first glance it sounds like `didReceiveAttrs` or an observer would be better suited.

[2017-06-15 17:06] zion commented on #63
@obernal Did you override the mixin then?

[2017-06-15 17:26] obernal commented on #63
@zion yes. My items are not components and I think it should be the accordion's responsibility to accept new items anyway so that's why this would require changes to the actual code. @GCheung55 `didReceiveAttrs` is called on re-render as well but I believe is called if the component's attributes change only. We are not changing attributes, but adding list items so I'm not sure it'll work. I will t

[2017-06-15 18:05] zion commented on #63
Ok, I seem to have broken all of my accordions by updating to ember-cli 2.13.2 and foundation 6.3.1

I might try your solution to see if that helps

[2017-06-19 10:03] Zorig commented on #74
@gandalfar did you make the patch for that? Is project going to upgrade according to fastboot 1.0.0rc6?

[2017-06-23 07:21] rizkysyazuli commented on #21
FYI, the docs did not mention you _have to_ pass an `positionClass` option. throws an error and got me wondering there for a sec.

[2017-06-25 21:30] simonihmig opened #75 "Fix breaking changes in FastBoot 1.0"
The current `ember-cli-fastboot` releases (1.0.0-rc.1 and above) introduce breaking changes. These will most likely break your current FastBoot implementation.

See https://github.com/ember-fastboot/ember-cli-fastboot/issues/387 for more information and a guide on how to fix your addon. Also you may want to visit the `-fastboot` Slack channel to get help from other users.

*Note: this issue has be

[2017-07-17 10:13] rizkysyazuli commented on #26
sorry. so how do you properly destroy a reveal modal after it's closed?

[2017-07-17 16:42] GCheung55 commented on #26
@rizkysyazuli according to https://github.com/acoustep/ember-cli-foundation-6-sass/blob/master/addon/mixins/zf-widget.js#L82 the reveal modal will be destroyed when the component using the modal is destroyed.

[2017-07-19 12:29] rizkysyazuli commented on #26
@GCheung55 it does that automatically? doesn't seem so in my case. i have youtube video inside a modal that's keep playing even after it's closed.

[2017-07-20 05:57] GCheung55 commented on #26
@rizkysyazuli Yes, it does automatically. As I mentioned, the reveal modal will be destroyed when the component using the modal is destroyed. Closing the modal, such as pressing the ESC key, will only hide the modal, not destroy it.

[code]

If you do a search for a DOM element with id `awesome-modal` you see that it's in the DOM, even when it's hidden.

Now, when you navigate away to a different

[2017-07-20 05:58] GCheung55 commented on #72
@jamiechong I agree with you. It would be helpful to have a map of all the events for each Foundation component so that action closures could be passed in.

[2017-07-21 11:16] webhive commented on #74
Got the same issue :(

[2017-07-21 11:27] Zorig commented on #74
@webhive i used this one, it's pretty cool thou https://github.com/dulmandakh/ember-cli-foundation-6

[2017-07-21 11:30] webhive commented on #74
@Zorig Tested it but looks pretty young package and very raw implementation not so far from manual integration. This project has nice component what utilized fuondation js code.

[2017-07-21 11:31] gandalfar commented on #74
I've made a PR that fixes this a while ago. Still waiting for any feedback on it.

[2017-07-21 11:33] webhive commented on #74
Yes - saw it - just added my notice with hope it wil be accepted faster :)

[2017-07-21 14:24] GCheung55 commented on #74
@gandalfar thanks for the PR! Sorry for the delay. I'll review this week.

[2017-07-28 14:12] MrChriZ opened #79 "Foundation JS not triggered"
I've followed ember-cli-foundation-6-sass readme.md:
adding it to my project
running the generator ember g ember-cli-foundation-6-sass,
and updated my ember-cli-build.js too:

module.exports = function(defaults) {
  var app = new EmberApp(defaults, {
    // Add options here
    'ember-cli-foundation-6-sass': {
      'foundationJs': 'all'
    }
  });

I've then copied the code from : https://codepe

[2017-07-31 23:02] GCheung55 opened #80 "Setup Travis CI"
Setup Travis CI to run tests on PR's.

Integrate [homu](https://github.com/barosl/homu) to run tests against a branch that's merged with master to prevent broken tests sooner.

[2017-07-31 23:03] #70 closed

[2017-07-31 23:45] GCheung55 commented on #25
@jumokee I think @williamweckl was referring to a controller that corresponded to the template that had needed the Foundation JS.

So you could create an `application` controller, or any of your routes can have a controller with the code.

[2017-07-31 23:46] GCheung55 commented on #79
@MrChriZ I think you're experiencing the same issue in #25.

[2017-07-31 23:52] GCheung55 commented on #80
@acoustep Doesn't look like I have access to add Webhooks to work on this.

[2017-08-01 14:34] acoustep commented on #80
Hmmm Github doesn't seem to let me give you webhook access. If you send me the details I'll put them in 🙂

[2017-08-02 04:27] jamiechong opened #81 "zf-slider component options and value"
How can I set the option in the `{{zf-slider}}` component so I can specify  `data-start`, `data-end` , `data-step`, `data-initial-start`, etc?

Furthermore, how can I access the value that is set in the `<input>`?

It seems like all we get is the UI, which is useless unless its functional. Could you  provide a better example of this component?

[2017-08-02 07:10] GCheung55 commented on #81
The documentation and example can use an update to demonstrate the options and retrieving the value.

I'm AFK but a `change` action added to the input should help suraface the sliders value.

Try either of the following.

[code]

[code]

You'll need to add an action to capture the sliders value, name it anything you like. "sliderChanged" is just an example.

[2017-08-02 12:23] swi2012 opened #82 "enabling prototype classes break sass compilation"
if i set in my app.sass
`@include foundation-everything($prototype: true);`
then i get error on compilation
`The Broccoli Plugin: [BroccoliMergeTrees] failed with:
Error: You may not @extend an outer selector from within @media.
You may only @extend selectors within the same directive.
From "@extend h1" on line 15 of tmp/sass_compiler-input_base_path-E59EwuML.tmp/1/foundation-sites/prototype/_type

[2017-08-02 15:56] GCheung55 commented on #82
I'm wondering if this is a bug in Foundation. What version of Foundation do you have installed?

[2017-08-02 16:05] swi2012 commented on #82
I have foundation 6.4.1. Same version i have for my other project (just standart foundation cli project that build sass to css) and there is builded perfectly. As i understand in both sass compiled with node-sass.
The main difference i see is version of node-sass. Ember use lates 4.5.3, but foundation cli project use node-sass 3.13.1

[2017-08-02 16:17] swi2012 commented on #82
Indeed. When i set "node-sass": "^3.13.0" in package.json of broccoli-sass-source-maps and make npm install (to get 3.13 version of node-sass) it' compiled ok. So, what lib to be blame (post bug report to)? node-sass?

[2017-08-02 16:51] jamiechong commented on #81
@GCheung55 The first example isn't working and the second example isn't valid ember.

[2017-08-02 20:38] andycochran commented on #20
How about 6.4.1?
(Should this issue be closed?)

[2017-08-03 04:59] GCheung55 commented on #82
@swi2012 can you share your `app.scss`? I'm going to try and reproduce the issue.

[2017-08-03 05:00] GCheung55 commented on #81
@jamiechong sorry about that - bad copy/paste job. I've edited the second example.

[2017-08-03 05:28] GCheung55 commented on #82
I believe this is an issue in Foundation. See https://github.com/zurb/foundation-sites/issues/10417.

The issue should be fixed once foundation-sites@6.4.2 is released.

[2017-08-03 05:29] GCheung55 commented on #82
I believe this is an issue in Foundation. See https://github.com/zurb/foundation-sites/issues/10417.

The issue should be fixed once foundation-sites@6.4.2 is released, but we should keep this issue open until then.

[2017-08-03 05:46] GCheung55 commented on #81
Looked into this some more. Sorry, but my two suggestions will not work. I couldn't find any Foundation-sites documentation for this, but their code sheds some light.

There are two main events that are triggered when the slider moves and changes: `moved.zf.slider` and `changed.zf.slider`. Both are triggered on the element. In Ember's case, it is the component's element.

Attaching event handlers

[2017-08-03 14:22] allthesignals commented on #25
Thanks @williamweckl, I'm trying this in top-level application controller, and getting no luck. Ember does schedule it for afterRender, but it still seems to get called before those elements are in the DOM. Manually calling it in the console works just fine. Thoughts? Not sure why the Ember run loop isn't as intuitive as it seems... isn't afterRender a global event (as in, waits for everything to

[2017-08-03 14:41] allthesignals commented on #25
Similar to @SlyDen, I just dropped a component `initialize-foundation` into the top-level application template, with the following hook inside the component:
[code]

This seems to work, until you render anything afterwards. You may have to do as @SlyDen does, but always wrap relevant foundation markup inside the component yield.

[2017-08-03 16:49] GCheung55 commented on #20
Adding `revealClass="reveal-for-large"` for with foundation-sites@6.4.1 isn't working either. I just tried it on the dummy app.

What did work was going into `addon/templates/components/zf-off-canvas.hbs` and adding `reveal-for-large` class to the elements with `off-canvas` class.

Something like:

[code]

[2017-08-03 16:51] GCheung55 opened #83 "zf-off-canvas does not support revealClass option."
From a comment in #20:

I think we should rethink how `zf-off-canvas` works - maybe make it more composable with component closures?

[2017-08-03 16:53] GCheung55 commented on #20
I've filed a ticket to address the `revealClass` issue, #83.

Closing issue because foundation-sites@6.4.1 is supported, though support is kind of buggy. Please re-open the ticket if you feel the ticket closure is in error.

[2017-08-03 16:53] #20 closed

[2017-08-03 20:53] andycochran commented on #42
I'm still having trouble with Sticky.
[code]
Doesn't stick.
😞

[2017-08-03 20:55] andycochran commented on #71
I can't even get it to sometimes work. 😞

[2017-08-04 07:30] SlyDen commented on #25
As @allthesignals mentioned it won't work if you  ["add new HTML to the DOM"](http://foundation.zurb.com/sites/docs/javascript.html#adding-plugins-after-page-load) ... I faced with it recently.
I don't use addon nowadays, just raw Foundation 6.4.1. And I use only one or two Foundation's JS plugins - so I just call something like this in e.g. **didInsertElement** hook of my component:
[code]

Of co

[2017-08-09 14:22] swi2012 opened #84 "Closeable Callout"
May be i do not understand how, but can i make zf-callout closeable? Adding appropriate button (from zurb docs) do not make it work.

[2017-08-11 15:49] IamManchanda commented on #82
6.4.2 is released now... Please check thanks!

[2017-08-14 21:35] GCheung55 commented on #80
@acoustepI haven't dug into Homu setup but you'll have to create a Travis CI account and set that up... I can't create an account for you.

[2017-08-14 22:16] ctcpip opened #86 "tests fail when environment=production"
Upgraded to the latest version of this addon which no longer uses bower.

Now when running `ember test --environment=production`, integration and acceptance tests fail with `ReferenceError: Foundation is not defined`

I created a brand new app and was able to reproduce the problem.

[2017-08-15 01:45] GCheung55 commented on #86
@ctcpip can you share the test repo please?

[2017-08-15 01:52] GCheung55 commented on #84
@swi2012 can you share you code that isn't working?

Keep in mind that `zf-callout` is meant to be used with `ember-cli-flash`. Here is some instructions from `ember-cli-flash` to add a `close` action: https://github.com/poteto/ember-cli-flash/blob/master/README.md#custom-close-action

[2017-08-15 17:58] acoustep commented on #80
I've added the project to Travis CI https://travis-ci.org/acoustep/ember-cli-foundation-6-sass/

[2017-08-15 18:03] ctcpip commented on #86
[foundation-test.zip](https://github.com/acoustep/ember-cli-foundation-6-sass/files/1225912/foundation-test.zip)
@GCheung55

[2017-08-16 16:00] ctcpip commented on #86
Production build also shows this error.  `ReferenceError: Foundation is not defined`

[2017-08-16 16:13] ctcpip commented on #86
@acoustep  Production build/test also fails on this repo itself.  **It seems this addon is broken for production use.**

[code]

[2017-08-16 17:38] ctcpip commented on #86
opened PR #87 to add production test in the Travis build

[2017-08-28 12:33] gandalfar opened #88 "Tests failling on ember-release channel and up"
Current `master` fails with Ember 2.14 and up. The error is attached. Anyone got any ideas on how to approach fixing this? 2.8-lts works fine.

[code]

[2017-09-06 16:49] adambullmer commented on #86
Adding some more info to this. Issue seems to be resolved when turning on sourcemaps for production.

Plugin Version: `0.0.24`
Ember Version: `2.15.0`

`ember-cli-build.js`
[code]

[2017-09-06 18:01] ctcpip commented on #86
@adambullmer thanks for that.  Will use as a temporary workaround

[2017-09-25 12:13] #88 closed

[2017-09-25 19:08] GCheung55 commented on #86
I can reproduce the problem when `foundationJs` config option is an array.

`foundationJs: all` will pull in the built file that exports `Foundation` to the `window` global.

`foundationJs: []` will manually transpile and import each individual file, which each file does not add to the `Foundation` object.

One possible approach is to have each component import the plugin. E.g. `zf-reveal` compone

[2017-09-25 21:22] GCheung55 commented on #13
I'm closing the issue because there hasn't been any response in the past year. Please file a new ticket if this is still an issue.

[2017-09-25 21:22] #13 closed

[2017-09-25 21:23] GCheung55 commented on #43
I'm closing this issue because there hasn't been any submitter response. Please file another issue if this is still a problem.

[2017-09-25 21:23] #43 closed

[2017-09-27 06:13] GCheung55 commented on #86
The approach to have components import their corresponding plugin also prevents users from being able to leverage the jQuery plugin syntax: `$(document).foundation()`. This might actually be okay if we consider removing jQuery.

Ember is moving away from depending on jQuery and Foundation-sites also plans to removing jQuery on their [7.x roadmap](https://github.com/zurb/foundation-sites/wiki/Proje

[2017-09-27 12:16] bravo-kernel commented on #83
This would be most welcome

[2017-10-20 23:44] GCheung55 opened #92 "Add appendTo option to zf-reveal."
The `appendTo` option provides a target for where to append the reveal and overlay.

This is helpful when testing. Reveal by default will append to the `body` element. Ember dispatches events to the application root element, which is not the `body ` element in tests.

Using the `appendTo` option, we can configure the Reveal to append to the `.ember-application` element during testing so that the e

[2017-10-23 04:12] donaldwasserman commented on #84
I created that, and probably should have namespaced it better. (I just added a PR with a more obnoxious warning sign).

Apologies!

[2017-10-29 19:12] acoustep commented on #80
I looked into Homu after Travis CI but it seems it needs to be self-hosted?

I'm happy to integrate it but as I've had no experience with it previously I could do with some guidance.

[2017-11-14 21:13] 0xadada commented on #86
I'm also having this  problem.

Foundation works in `development`, fails in development

[code]

error:
`ReferenceError: Foundation is not defined`

ember-cli-build.js
[code]

[2017-11-15 14:07] 0xadada commented on #86
@adambullmer Interesting, I had sourcemaps enabled `sourcemaps: 'inline'` and that isn't working in Ember 2.16.

@GCheung55 were you able to get production builds working with a workaround?

@ctcpip what workaround ended up working for you?

[2017-11-15 15:45] ctcpip commented on #86
we need a real fix for this issue.  the workaround is far from ideal.

[2017-11-15 15:55] 0xadada commented on #86
@ctcpip I tried https://github.com/acoustep/ember-cli-foundation-6-sass/issues/86#issuecomment-327545275 but it didn't work in 2.16.

[2017-11-16 06:07] GCheung55 commented on #86
Sorry for the delay.

I have a promising lead using Rollup.js to package up `foundation-sites`, in both "all" and select plugins (as an array) flavors.

I've got a bit of cleanup and testing to do. I'm hoping to get this done in the next week.

[2017-12-06 12:30] belgoros opened #94 "Top bar is broken"
I tried t use it with ember-quickstart project and added just the [top bar by Foundation](https://foundation.zurb.com/sites/docs/top-bar.html). The display of `ul` menu is broken:

https://drive.google.com/open?id=14rBGcH1zA93xehHvHgsELWaNHsDWdTRb.

[2017-12-08 13:00] belgoros commented on #94
After taking the code example from `tests/dummy/app/templates/application.hbs`, it works s needed. Thank you.

[2017-12-08 13:00] #94 closed

[2017-12-28 00:05] GCheung55 commented on #86
"Next week" turned into next month, sorry for that.

Just an update. I've finally made time to switch over to Rollup in PR #77.

[2017-12-28 00:10] 0xadada commented on #86
I still love you 👌

-------- Original Message --------
On Dec 27, 2017, 19:05, Garrick Cheung wrote:

[2017-12-28 00:49] GCheung55 commented on #80
I'll try to dig into setting Homu up, but you're right - it seems Homu has to be self-hosted for now.

I found this resource and plan to try it out on my own to get a feel for what needs to be done: https://users.rust-lang.org/t/homu-on-heroku-how-to-deploy-a-homu-instance-to-heroku/5616

[2018-01-30 16:26] belgoros opened #95 "Is responsive topbar supported ?"
After running the [dummy app](https://github.com/acoustep/ember-cli-foundation-6-sass/tree/master/tests/dummy), it seems like the responsive topbar is broken and is not displayed as it [should be](https://foundation.zurb.com/sites/docs/responsive-navigation.html), (see `Responsive Toggle` section.
It looks like that:
![image](https://user-images.githubusercontent.com/83579/35577802-a58b5b88-05e2-1

[2018-03-05 19:09] allthesignals opened #96 "Error: File to import not found or unreadable: foundation-sites/util/util (error in Ember 3.0)"
I know there is a similar issue here, but I'm seeing this again https://github.com/acoustep/ember-cli-foundation-6-sass/issues/48

Do changes need to be made for Ember 3?

[2018-04-11 17:43] allthesignals opened #97 "Import JavaScript modules"
Could someone help me understand how to approach importing Foundation's JavaScript modules as outlined in [this blog](https://dannyherran.com/2017/11/foundation-6-4-es2016-module-javascript/) post:

[code]
I would like to create some addons for this, but I'm dead-in-the-water with the asset management behind this stuff. How might I go about doing this? I know that the new version of Foundation all

[2018-04-11 19:55] allthesignals opened #98 "Can't pass properties to zf-slider"
[code]

Logs:
runtime.js:688 Uncaught TypeError: references[i].value is not a function
    at CapturedNamedArguments.value (runtime.js:688)
    at processComponentArgs (process-args.js:11)
    at CurlyComponentManager.create (curly.js:150)
    at runtime.js:1671
    at AppendOpcodes.evaluate (runtime.js:70)
    at VM.next (runtime.js:7246)
    at TemplateIterator.next (runtime.js:7317)
    at Root

[2018-05-21 09:31] dougbanville opened #99 "Can't find foundation-sites"
When I install I get this error:

loader.js:247 Uncaught Error: Could not find module `foundation-sites` imported from `ember-cli-foundation-6-sass/initializers/zf-widget`
    at missingModule (loader.js:247)
    at findModule (loader.js:258)
    at Module.findDeps (loader.js:168)
    at findModule (loader.js:262)
    at Module.findDeps (loader.js:168)
    at findModule (loader.js:262)
    at requ

[2018-05-21 09:38] dougbanville commented on #99
Oops I forgot:

'ember-cli-foundation-6-sass': {
      'foundationJs': 'all'
    }
In ember-cli-build.js

[2018-05-21 09:38] #99 closed

[2018-09-18 21:49] chmich opened #100 "ember-cli-foundation-6-sass don't work"
Hi all,

this nice addon seems not to work?

ember-cli version 10.6.0

`ember new ..`
`npm install --save-dev ember-cli-sass`
 `ember install ember-cli-foundation-6-sass`
 `ember g ember-cli-foundation-6-sass`
 `ember serve`

=> i get a blank page and console-message: `Could not find module foundation-sites imported from ember-cli-foundation-6-sass/initializers/zf-widget`

thanks,
chris

[2018-09-19 06:32] GCheung55 commented on #100
@chmich did you also add configuration to `ember-cli-build.js`? You'll need to add configuration if you want to use the components, by default the JS is not loaded.

From https://github.com/acoustep/ember-cli-foundation-6-sass#javascript

[code]

[2018-09-19 06:46] chmich commented on #100
@GCheung: thanks - it works!
i understood this point as optional.

[2018-09-19 06:46] #100 closed

[2018-10-22 19:49] allthesignals commented on #100
Same - how do we exclude javascript from this?

[2019-02-05 02:24] danielrestrepo opened #101 "Issues with ember 3.7"
I got this output ember running Ember dev server
[code]
Any Ideas? Do you plan to support the addon? I can give you a hand updating if you give me a quick introduction

[2019-03-22 16:04] belgoros opened #102 "Useless call to generator to install the dependencies"
If I'm not mistaken, the step described in [Getting started](https://github.com/acoustep/ember-cli-foundation-6-sass#getting-started) section:

Run the generator to install the dependencies
[code]
is useless as it does exactly the same as on the [previous](https://github.com/acoustep/ember-cli-foundation-6-sass#installation) step where `ember-cli-sass` and the add-on are being installed:

<img wid

[2019-03-22 16:36] belgoros commented on #95
Coming back to the issue, I created an [example app](https://github.com/belgoros/ember-foundation), - the navbar is completely broken there:
<img width="1440" alt="Screenshot 2019-03-22 at 17 36 19" src="https://user-images.githubusercontent.com/83579/54838495-0656cc80-4cc9-11e9-9eb0-a9bdff495e01.png">

[2019-04-27 23:32] alejomo opened #103 "Deprecation warning of Ember.$() in ember 3.9"
Fresh install Ember 3.9 i'm getting several warnings in the browser console:

DEPRECATION: Using Ember.$() has been deprecated, use `import jQuery from 'jquery';` instead [deprecation id: ember-views.curly-components.jquery-element] See https://emberjs.com/deprecations/v3.x#toc_jquery-apis for more details.

[2019-06-20 16:38] therealbenhogan commented on #103
Hi, have the same issue (3.10)

[2019-06-20 16:48] cesarizu commented on #103
I have a branch https://github.com/GovSciences/ember-cli-foundation-6-sass/tree/jquery-fix that fixes most of this.

[2019-06-21 07:14] therealbenhogan commented on #103
Many thanks César - I'll take a look

[2019-07-19 18:31] zion commented on #103
Same issue for me too on 3.11.

[2019-12-09 20:54] zion commented on #103
@cesarizu Can you open a PR for this change? Maybe @acoustep can merge it in when he has time.

[2019-12-10 09:24] acoustep commented on #103
I'm happy to merge if you submit a request 🙂

[2019-12-10 14:29] cesarizu commented on #103
I've opened the PR at acoustep/ember-cli-foundation-6-sass#104 with the code that we've been using for quite some time. Please let me know if there's anything that I should change.

[2019-12-10 15:02] acoustep commented on #103
Thanks @cesarizu! I have accepted and bumped the version number.

[2019-12-10 19:21] zion commented on #103
Awesome work. Thanks!

[2019-12-13 16:28] zion commented on #103
@acoustep should npm automatically acknowledge v26? It still says 25 is the latest

[2019-12-13 17:18] acoustep commented on #103
@zion sorry I needed to publish the update. This is done now 👍

[2019-12-14 18:47] zion commented on #103
Thanks mate!

[2021-05-19 17:02] #103 closed